*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    background-color: #0f0830;
    display: flex;
    align-items: center;
    color: white;
}

main{
    max-width: 1000px;
    margin: 0 auto;
    height: 95vh;
    background-color: #211548;
    width: 100%;
    padding: 15px;
    border-radius: 10px;
}
.title{
    text-align: center;
    position: relative;
}
.title::after{
    content: '';
    width: 190px;
    height: 2px;
    background-color: orange;
    position: absolute;
    top: 40px;
    right: 386px;
}
.sub_title{
    font-size: 25px;
    padding: 10px 0;
}
.separator{
    width: 100%;
    height: 1px;
    background-color: white;
}
/* form start */

#form{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    padding: 20px 0px;
}
#form label{
    font-size: 18px;
    font-weight: bold;
}
#form input , #form select{
    width: 90%;
    height: 30px;
    border-radius: 10px;
    border: none;
    outline: none;
    margin-top: 8px;
    padding: 5px;
}
.t_name{
    flex: 1;
}
.t_submit{
    width: 15%;
    height: 10px;
}
.t_submit input{
    font-size: 17px;
    background-color: tomato;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: none;
    outline: none;
}

/* form end */

/* task management start */
.task_management{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    padding: 20px 0px;
}
.task_management label{
    font-size: 18px;
    font-weight: bold;
}
.task_management input , .task_management select{
    width: 90%;
    height: 30px;
    border-radius: 10px;
    border: none;
    outline: none;
    margin-top: 8px;
    padding: 5px;
}
.search{
    flex: 1;
}
/* task management end */

/* table start */
table{
    margin-top: 10px;
}
table, thead, tbody, tr{
    width: 100%;
    display: block;
}
thead{
    background-color: black;
}
tr{
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
tr:hover{
    background-color: black;
}
td, th{
    flex: 1;
    text-align: center;
}

td button{
    background-color: unset;
    border: none;
    outline: none;
    margin: 0 10px;
    cursor: pointer;

}
button i{
    pointer-events: none;
    font-size: 22px;
    color: green;
}
#delete i{
    color: red;
}
/* table end */